<launch>

	<arg name="open_rviz" default= "true" />

 <include file="$(find ar_kinect_project)/launch/track_no_kinect.launch" />
 <node pkg="ar_kinect_project" type="track_pose" name="track_pose" />
 <node pkg="ar_kinect_project" type="tag0_cast" name="tag0_cast" />

	<group if="$(arg open_rviz)">
       <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ar_kinect_project)/rviz_config/ar_kinect_rviz.rviz" />
    </group>

</launch>
